/* ==== variables ==== */

$colors_highlightBlue: #3D90C3;
$colors_lightBlue: #0272B8;
$colors_darkBlue: #01426A;
$colors_veryDarkBlue: #242629;
$colors_lightGray: #CCC;
$colors_darkGray: #666;

$fonts_raleway: 'Raleway', sans-serif;
$fonts_opensans: 'Open Sans', sans-serif;

$breakpoint_small: 640px;
$breakpoint_medium: 981px;
$breakpoint_large: 1281px;